In [1]:
import pandas as pd
import os

In [3]:
os.getcwd()

'/Users/hanalee/student_needs_repo/notebooks'

In [ ]:
year = 2024
df = read_file(year)
#numeric = total_data(formatted)
#export_file(numeric, year)

In [34]:
df

,71,72,73,74,75,76,77,78,79,80,...,99,100,101,102,103,104,105,106,107,108
Unnamed: 1,"Retail and food services sales, total",Retail sales and food services excl motor vehi...,Retail sales and food services excl gasoline s...,Retail sales and food services excl motor vehi...,"Retail sales, total","Retail sales, total (excl. motor vehicle and p...",GAFO(1),Motor vehicle and parts dealers,Automobile and other motor vehicle dealers,"Automotive parts, acc., and tire stores",...,General merchandise stores,Department stores,Other general merchandise stores,Warehouse clubs and superstores,All other gen. merchandise stores,Miscellaneous stores retailers,Nonstore retailers,Electronic shopping and mail order houses,Fuel dealers,Food services and drinking places
Unnamed: 2,"695,631","564,886","643,255","512,510","601,921","471,176","130,364","130,745","119,428","11,317",...,"74,833","11,096","63,737","54,558","9,179","14,792","118,589","109,099","3,267","93,710"
Unnamed: 3,"702,712","568,841","649,497","515,626","608,557","474,686","131,038","133,871","122,564","11,307",...,"75,330","11,052","64,278","55,059","9,219","15,025","119,296","109,835","3,169","94,155"
Unnamed: 4,"707,682","574,852","653,368","520,538","613,053","480,223",(*),"132,830","121,371",(*),...,"76,266","10,948",(*),(*),(*),"15,292","122,441",(*),(*),"94,629"

In [ ]:
months =

df_index = [5, 12, 13, 16, 17, 18, 19, 22,
            27, 36, 37]

new_col = ['retail_total', 'furniture', 'appliances',
                'food_stores', 'grocery', 'alcohol',
                'hp_care', 'clothes', 'books_hobbies',
                'fuel', 'food_service']

market_df_uncleaned = pd.DataFrame()
for i in range(len(df_index)):
    market_df_uncleaned[new_col[i]] = df.iloc[1:, df_index[i]]

market_df_uncleaned = market_df_uncleaned.reset_index(drop = True)

market_df_uncleaned.insert(0, "month", range(1,4))
market_df_uncleaned.loc[12,'month'] = 'total'

year_l = []
for i in range(months + 1):
    year_l.append(year)

market_df_uncleaned.insert(0, "year", year_l)

/var/folders/04/nxvffhk52pq3clf84z2bkg1r0000gn/T/ipykernel_49367/1996375850.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'total' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  market_df_uncleaned.loc[12,'month'] = 'total'

In [50]:
market_df_uncleaned

,year,month,retail_total,furniture,appliances,food_stores,grocery,alcohol,hp_care,clothes,books_hobbies,fuel,food_service
0,2024,1.0,"471,176","7,597","39,375","73,370","5,954","36,213","30,418","18,290","8,367","3,267","93,710"
1,2024,2.0,"474,686","7,717","40,323","73,403","6,059","36,133","30,119","18,360","8,425","3,169","94,155"
2,2024,3.0,"480,223","7,646","40,501","73,795",(*),"36,370",(*),(*),"8,277",(*),"94,629"
12,2024,total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
na = market_df_uncleaned.iloc[3,5]

In [75]:
num_df

,year,month,retail_total,furniture,appliances,food_stores,grocery,alcohol,hp_care,clothes,books_hobbies,fuel,food_service
0,93710,93710,93710,93710,93710,93710,93710,93710,93710,93710,93710,93710,93710
1,94155,94155,94155,94155,94155,94155,94155,94155,94155,94155,94155,94155,94155
2,187865,187865,187865,187865,187865,187865,187865,187865,187865,187865,187865,187865,187865

In [45]:
# range from 2012 - 2023
# import file
def read_file(years):
    market_ = pd.read_csv(f"../data/raw/{year}_uncleaned_marketdata.csv")
    market_a = market_.iloc[71:109, 1:15]
    market_t = market_a.transpose()
    return(market_t)

def format_df(market_t, months = 12):
    df_index = [5, 12, 13, 16, 17, 18, 19, 22,
            27, 36, 37]

    new_col = ['retail_total', 'furniture', 'appliances',
                'food_stores', 'grocery', 'alcohol',
                'hp_care', 'clothes', 'books_hobbies',
                'fuel', 'food_service']

    market_df_uncleaned = pd.DataFrame()
    for i in range(len(df_index)):
        market_df_uncleaned[new_col[i]] = market_t.iloc[1:, df_index[i]]

    market_df_uncleaned = market_df_uncleaned.reset_index(drop = True)

    market_df_uncleaned.insert(0, "month", range(1,months + 2))
    market_df_uncleaned.loc[12,'month'] = 'total'

    year_l = []
    for i in range(months + 1):
        year_l.append(year)

    market_df_uncleaned.insert(0, "year", year_l)
    return(market_df_uncleaned)

def number(i):
    return(int(i.replace(",","")))

def total_data(market_df_uncleaned):
    num_df = pd.DataFrame()
    cols = market_df_uncleaned.columns
    for col in range(months):
        if col < 2:
            num_df[cols[col]] = market_df_uncleaned.iloc[:,col]
        else:
            num_l = list(market_df_uncleaned.iloc[:12,col].apply(number))
            num_l.append(sum(num_l))
            num_df[cols[col]] = num_l
    return(num_df)

def export_file(num_df, years, folder = "interim"):
    num_df.to_csv(f"../data/{folder}/{years}marketdata_int.csv", index = False)

In [46]:
for year in range(2012, 2024):
    df = read_file(year)
    formatted = format_df(df)
    numeric = total_data(formatted)
    export_file(numeric, year)

/var/folders/04/nxvffhk52pq3clf84z2bkg1r0000gn/T/ipykernel_49367/3063933336.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'total' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  market_df_uncleaned.loc[12,'month'] = 'total'
/var/folders/04/nxvffhk52pq3clf84z2bkg1r0000gn/T/ipykernel_49367/3063933336.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'total' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  market_df_uncleaned.loc[12,'month'] = 'total'
/var/folders/04/nxvffhk52pq3clf84z2bkg1r0000gn/T/ipykernel_49367/3063933336.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'total' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  market_df_uncleaned.loc[12,'month'] = 'total'
/var/folders/04/nxvffhk52pq3clf84z2bkg1r0000gn/T/ipykernel_49367/3063933336.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'total' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  market_df_uncleaned.loc[12,'month'] = 'total'
/var/folders/04/nxvffhk52pq3clf84z2bkg1r0000gn/T/ipykernel_49367/3063933336.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'total' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  market_df_uncleaned.loc[12,'month'] = 'total'
/var/folders/04/nxvffhk52pq3clf84z2bkg1r0000gn/T/ipykernel_49367/3063933336.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'total' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  market_df_uncleaned.loc[12,'month'] = 'total'
/var/folders/04/nxvffhk52pq3clf84z2bkg1r0000gn/T/ipykernel_49367/3063933336.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'total' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  market_df_uncleaned.loc[12,'month'] = 'total'
/var/folders/04/nxvffhk52pq3clf84z2bkg1r0000gn/T/ipykernel_49367/3063933336.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'total' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  market_df_uncleaned.loc[12,'month'] = 'total'
/var/folders/04/nxvffhk52pq3clf84z2bkg1r0000gn/T/ipykernel_49367/3063933336.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'total' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  market_df_uncleaned.loc[12,'month'] = 'total'
/var/folders/04/nxvffhk52pq3clf84z2bkg1r0000gn/T/ipykernel_49367/3063933336.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'total' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  market_df_uncleaned.loc[12,'month'] = 'total'
/var/folders/04/nxvffhk52pq3clf84z2bkg1r0000gn/T/ipykernel_49367/3063933336.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'total' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  market_df_uncleaned.loc[12,'month'] = 'total'
/var/folders/04/nxvffhk52pq3clf84z2bkg1r0000gn/T/ipykernel_49367/3063933336.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'total' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  market_df_uncleaned.loc[12,'month'] = 'total'

In [89]:
dum_df = pd.read_csv(f"../data/interim/2012marketdata_int.csv")

In [98]:
total = 0
dum_df.iloc[:12,2]
def number(i):
    return(int(i.replace(",","")))

def total_data()
num_df = pd.DataFrame()
cols = dum_df.columns
for col in range(13):
    if col < 2:
        num_df[cols[col]] = dum_df.iloc[:13,col]
    else:
        num_l = list(dum_df.iloc[:12,col].apply(number))
        num_l.append(sum(num_l))
        num_df[cols[col]] = num_l

    #dum_df.iloc[:12,col] = dum_df.iloc[:12,col].apply(number)

SyntaxError: expected ':' (268398796.py, line 6)

In [99]:
market_df_uncleaned = pd.DataFrame()
for i in range(len(df_index)):
    market_df_uncleaned[new_col[i]] = market_t.iloc[1:, df_index[i]]

market_df_uncleaned = market_df_uncleaned.reset_index(drop = True)

In [138]:
def full_marketdata(full_df, start_year = 2012):
    market_df = pd.read_csv(f"../data/interim/{start_year}marketdata_int.csv")
    for year in range(2013, 2024):
        market_df = pd.concat([pd.read_csv(f"../data/interim/{year}marketdata_int.csv"), market_df])
    return(market_df)

In [139]:
market_df = pd.DataFrame()
full_df = full_marketdata(market_df)

In [101]:
full_df
export_file(full_df, years= "all", folder = "processed")